body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}



.App {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.315);
  width: 95%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.inputsContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;  
  margin-bottom: 20px;
}

@media screen and (max-width: 570px) {
  .inputsContainer {
    flex-direction: column;
  }

  .InputTop {
    margin-bottom: 20px;
  }
}

.Inputone {
  width: 100%;
}

.editbtn {
  margin-right: 20px !important;
}

.inputsWrapper {
  margin: 20px 0;
}

